<!--
    MJW:
    
    This template was taken from the django/contrib/admin/templates directory and adjusted so that
    the admin part of this website uses the name Polls administration.
    You can find the location of the django directory using:

        python -c "import django; print(django.__path__)"
-->
{% extends "admin/base.html" %}

{% block title %}{{ title }} | Polls Administration {% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Polls administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
