/*
  MJW:
  This static/polls directory is added to put static data such as css files and background images.
*/

li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat;
}